
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="w3-container">


<div class="w3-container w3-bottom" style="background-color: #002D72;color: white; margin-left: -18px; padding-top: 50px; padding-bottom: 10px; padding-left: 70px;position: relative;width: 103%;margin-bottom: -20px;;">
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-left: 260px">Dashboard</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 70px; margin-left: -100px">Marketplace</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 140px; margin-left: -110px">My Application</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-left: 120px">Forum</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 70px; margin-left: -73px">Support</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 140px; margin-left: -83px">RSS Feed</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-left: 120px">About Us</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 70px; margin-left: -90px">Contact Us</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 140px; margin-left: -100px">Sitemaps</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-left: 120px">Terms of Use</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 70px; margin-left: -115px">Privacy Statement</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 140px; margin-left: -145px">Disclaimer</a>
  <a class="w3-bar-item w3-button w3-hover-none" style="float: left; margin-top: 250px; margin-left: -560px; opacity: 0.5">© 2019 BankAPI Limited. All Rights Reserved</a>

</div>

<br>
</div>