<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
    .content {
        height: 830px;
        width: 300px;
        background-color: white;
        border-radius: 6px;
        margin-right: 80px;
        margin-top: 36px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 20px;
        font-family: Arial, Helvetica, sans-serif;
        box-shadow: 2px 2px 3px 3px rgba(65, 45, 45, 0.233);
        float: right;
        font-family: Helvetica;
    }
    
    .content p {
        font-weight: 300;
        font-size: 20px;
    }
    
    .name {
        margin-top: -12px;
        font-size: 12px;
    }
    
    .mat-radio-button {
        margin-left: 16px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-flex;
        flex-direction: column;
    }
    
    .category {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }
    
    .category mat-checkbox {
        margin-left: 20px;
    }
    
    hr.new1 {
        border-top: 1px solid #EAEAEA;
        margin-left: -20px;
        width: 320px;
    }
    
    .dot {
        height: 3px;
        width: 3px;
        background-color: #4D4848;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 2px;
        margin-left: 9px;
        margin-right: 6px;
    }
    
    .head img {
        float: left;
        width: 60px;
        height: 60px;
        margin-right: 13px;
    }
    
    .head-pay {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 11px;
    }
    
    .head-desc {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 25px;
        color: #4D4848;
        margin-top: 22px;
        width: 280px;
        ;
    }
    
    .content img {
        margin-top: 15px;
    }
    
    .second {
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .chart {
        font-size: 12px;
        color: #4D4848;
    }
    
    .chart a {
        float: left;
    }
    
    .rectangle1 {
        height: 10px;
        width: 245px;
        background-color: #6DC24B;
        margin-left: 20px;
        margin-top: 8px;
        margin-bottom: -6px;
    }
    
    .rectangle2 {
        height: 10px;
        width: 29px;
        background-color: #00B49D;
        margin-left: 20px;
        margin-top: 8px;
    }
    
    .rectangle3 {
        height: 10px;
        width: 4px;
        background-color: #FED929;
        margin-left: 20px;
        margin-top: 8px;
    }
    
    .rectangle4 {
        height: 10px;
        width: 16px;
        background-color: #FCB715;
        margin-left: 20px;
        margin-top: 8px;
    }
    
    .rectangle5 {
        height: 10px;
        width: 6px;
        background-color: #EF3340;
        margin-left: 20px;
        margin-top: 8px;
    }
    
    .dot2 {
        height: 16.67px;
        width: 16.67px;
        background-color: #9D9898;
        border-radius: 50%;
        display: inline-block;
        float: left;
    }
    
    .splitter {
        color: #4D4848;
        margin-left: 16px;
        margin-top: 12px;
    }
    
    .vl {
        border-left: 1px solid #EAEAEA;
        height: 33px;
        float: left;
        margin-left: 50px;
        margin-right: 20px;
        margin-top: 10px;
    }
    
    .subsribe {
        text-align: center;
        margin-top: 22px;
    }
    
    .subsribe a {
        font-size: 14px;
    }
    
    .support {
        margin-top: 19px;
    }
    
    .contact {
        font-size: 13px;
        color: #0089CF;
        margin-top: 16px;
    }
    
    .contact img {
        margin-top: 0px;
        margin-right: 9px;
        float: left;
    }
    
    .rectangle {
        height: 880px;
        width: 900px;
        background-image: url(../../assets/image/map3.png);
        background-repeat: repeat;
        border-radius: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .weather {
        float: left;
        margin-top: 35px;
        margin-left: 85px;
    }
</style>

<div style="height: 1000px;background-color: #F1F2F6;">
    <div class="weather">
        <div class="rectangle"></div>
    </div>
    <div class="content" style="margin-bottom: 40px;">
        <div class="head">
            <img src=" ../assets/Icons/drops.svg" alt="">
            <p>Weather API</p>
            <div class="name">
                <a style="color:#4D4848">David Foster</a>
                <span class="dot"></span>
                <a style="color:#7D7878;">Acme Bank</a>
            </div>
            <div class="head-pay">
                <a style="font-size: 15px;color:#6DC24B;">$4.99</a>
                <a style="color:#8D8888;font-size: 12px;">/month</a>
                <a style="float: right;font-size: 11px;color: #8D8888;margin-right:20px;">
                    BANKING 
                </a>
            </div>

            <div class="head-desc">
                <a>Lorem ipsum dolor sit amet consectetur adipiscing elit nunc 
                    dignissim arcu purus at volutpat mauris eleifend maecenas
                    ullamcorper a leo nec pulvinar sed auctor metus a nunc
                    dignissim pharetra curabitur tristique eleifend nisi 
                    et eleifend libero tempor auctor nam eget ex vestibulum.
                </a>

            </div>
        </div>

        <hr class="new1">

        <div class="second">
            <img src=" ../assets/Icons/love.png" alt="">
            <a style="font-size:30px;color:#4D4848;
                font-weight: 400;margin-left:11.5px;">
                4.75
            </a>
            <a style="font-size: 12px;color:#0089CF;
                float:right;margin-right:28px;margin-top:22px;">
                124 Review
            </a>
            <div class="chart">
                <a>5</a>
                <div class="rectangle1"></div> <br>
                <a>4</a>
                <div class="rectangle2"></div>
                <a style="margin-left: -6px;">3</a>
                <div class="rectangle3"></div>
                <a style="margin-left: -6px;"> 2</a>
                <div class="rectangle4"></div>
                <a style="margin-left: -6px;">1</a>
                <div class="rectangle5"></div> <br>
            </div>
        </div>

        <hr class="new1">

        <div style="float: left;">
            <div class="splitter">
                <span class="dot2" style="margin-top: 5px;"></span>
                <p style="font-size: 12px;margin-left: 25px;margin-bottom:0px;">Latency</p>
                <a style="font-size: 14px;margin-left: 8px;">29ms</a>
            </div>
        </div>

        <div class="vl"></div>

        <div style="float:right;margin-right:47px;margin-top:-51px;padding-bottom:15px">
            <div class="splitter" style="margin-top:20px;">
                <span class="dot2" style="margin-top: 5px;"></span>
                <p style="font-size: 12px;margin-left: 25px;margin-bottom:0px;">Success Rate</p>
                <a style="font-size: 14px;margin-left: 8px;">98%</a>
            </div>
        </div>
        <br>

        <hr class="new1">
        <div class="subsribe">
            <a>2,250 subscribed</a>
            <button mat-button (click)="openDialog()" style="background-color:#6CC24A;width: 240px;height: 40px;
                    font-size: 13px;color:white;font-weight: 300;
                    margin-top:16px;border-radius: 50px;">
                Subsribe from $4.99
            </button>
            <button mat-button style="background-color:#0E3570;width: 240px;height: 40px;
                    font-size: 13px;color:white;font-weight: 300;
                    margin-top:12px;border-radius: 50px;margin-bottom:25px;">
            Download</button>
        </div>

        <hr class="new1">
        <div class="support">
            <a style="font-size:14px;color:#4D4848">Get Support</a><br>
            <div class="contact">
                <img src=" ../assets/Icons/contact.png" alt=""><a>Contact API Provider</a><br><br>
                <img src=" ../assets/Icons/dissc.png" alt=""><a>Discussion Forum</a>
            </div>
        </div>
    </div>
</div>