<div class="top">
  <h4>WEATHER API </h4>
  <p>Updated 2 months ago</p> <img class="bookmark" style="margin:0.5% 1% 0% 0%" src="../../assets/Icons/bookmark.jpg">
</div>
<div class="bottom">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <div class="w3-container">
    <div class="w3-white">
      <a href="#" class="w3-bar-item w3-button w3-hover-none active">API Details</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-none ">Document</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-none">Rating & Reviews</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-none">Discussions</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-none">API Consumption</a>

        <ul class="breadcrumb" style="float:right">
          <li><a href="#" class="w3-bar-item w3-button w3-hover-none">Home</a></li>
          <li><a href="#" class="w3-bar-item w3-button w3-hover-none">Pictures</a></li>
          <li><a href="#" class="w3-bar-item w3-button w3-hover-none">Summer 15</a></li>
          <li>Italy</li>
        </ul>
    </div>

  </div>
</div>