
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">


<div class="w3-white">
  <a href="#" class="w3-bar-item w3-button w3-hover-none"><img src="../assets/Icons/logo.png" width="150"></a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none">Dashboard</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none" style="font-weight: bold">Marketplace</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none">My Application</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none">News & Insights</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none">Forum</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none">Support</a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none"><img src="../assets/search.svg"></a>
  <a href="#" class="w3-bar-item w3-button w3-hover-none w3-right"><p><button class="w3-button w3-light-green w3-hover-none">Create an App</button></p></a>
</div>
<br>
</div>