<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style> 
    .content {
      height: 780px;
      width: 260px;
      background-color: white;
      border-radius: 6px;
      margin-left:67px;
      margin-top:36px;
      margin-bottom:36px;
      padding-top: 31px;
      padding-left: 20px;
      font-family: Arial, Helvetica, sans-serif;
      box-shadow: 2px 2px 3px 3px rgba(211, 211, 211, 0.233);
    }

    .mat-radio-button{
        margin-left: 16px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        display: inline-flex; 
        flex-direction: column;
    }

    .category{
        font-family: Arial, Helvetica, sans-serif;
        font-size:13px;
    }

    .category mat-checkbox{
        margin-left:20px;
    }

    hr.new1 {
        border-top: 1px solid F0F0F0;
        margin:15px;
    }
</style>
  
<div class="content">
    <div class="sort">
        <a style="font-family: Arial, Helvetica, sans-serif;font-size:11px;">SORT BY</a>
        <br><br>
        <mat-radio-group aria-label="Select an option" >
            <mat-radio-button value="1">Newest</mat-radio-button><br>
            <mat-radio-button value="2">Top Rated</mat-radio-button>
            <mat-radio-button value="3">Most Frequently Used</mat-radio-button>
        </mat-radio-group>
    </div>

    <hr class="new1" style="width: 200px;">

    <div class="category">
        <a style="font-size: 11px;">CATEGORY</a><br><br>
        <mat-checkbox>Weather</mat-checkbox><br>
        <mat-checkbox>Location</mat-checkbox><br>
        <mat-checkbox>Account</mat-checkbox><br>
        <mat-checkbox>Payment</mat-checkbox><br>
        <mat-checkbox>Open Data</mat-checkbox><br>
        <mat-checkbox>Public</mat-checkbox><br>
        <mat-checkbox>Dataset</mat-checkbox><br>
    </div>

    <hr class="new1" style="width: 200px;">

    <div class="category">
        <a style="font-size: 11px;">TYPE</a><br><br>
        <mat-checkbox>Free</mat-checkbox><br>
        <mat-checkbox>Paid</mat-checkbox><br>
    </div>

    <hr class="new1" style="width: 200px;">
    <div class="category">
        <a style="font-size: 11px;">PRICE RANGE</a><br><br>
        <div>
            <a style="margin-left: 20px;">$0</a>
            <a style="margin-left:150px;">$100</a>
        </div>
        <mat-slider style="width: 200px;margin-left:18px;"></mat-slider>
    </div>
    <br>
    <div>
        <div class="fields-container">
            <mat-form-field appearance="fill" style="width: 80px;margin-left:20px;">
                <mat-label>From</mat-label>
                <input matInput placeholder="$0">
            </mat-form-field>
            <mat-form-field appearance="fill" style="width: 80px;margin-right:40px;float:right;">
                <mat-label>To</mat-label>
                <input matInput placeholder="$100">
            </mat-form-field>
        </div>

        <button mat-button 
            style="background-color:#0E3570 ;color: white;font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: 600;
            border-radius: 50px;width: 100px;margin-left:20px;margin-top:50px;">
                Apply Filter
        </button>
    </div>

    
</div> 
   
   
  
  
  
  