<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<header></header>
<navbar2></navbar2>

<div class="body" style="background-color: #F1F2F6">
    <br>
    <div class="clearfix" style="clear:both; display:table">
        <div class="tengah" style="width: 25%; float:left; padding:15px">
            <mat-card class="content" style="width: 750px; height: 1100px; background-color: white; margin-left: 300px; border-radius: 6px; float:left;">
                <mat-card-header>
                    <mat-card-title style="color: black; padding: 20px; margin-top: 15px">Getting Started</mat-card-title> <br>
                    <mat-card-subtitle style="color: black; margin-left: 20px; margin-top: -15px">About Weather API</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content>
                    <p style="color: #7D7878; margin-left: 36px; font-size: 14px; float: left">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum risus risus, consectetur non gravida placerat, dapibus sit amet justo. Etiam maximus sagittis maximus. Aenean condimentum molestie nulla, ut aliquam magna imperdiet a. Cras varius sollicitudin
                        massa molestie gravida. Fusce bibendum consectetur cursus. Maecenas tempus orci vel arcu semper tincidunt. Sed metus nisi, mollis eu ipsum at, vestibulum placerat lectus. Nam sodales velit condimentum odio pretium congue. Proin
                        non risus nec libero facilisis lacinia. Donec imperdiet, leo in pharetra fermentum, magna justo fringilla nibh, eget pulvinar quam risus non metus.
                        <br><br><br>
                        <mat-card-subtitle style="color: black; margin-top: -15px">Availability</mat-card-subtitle>
                        Sed sit amet nulla diam. Nam et augue a libero dictum condimentum at et tellus. Curabitur semper consectetur nunc ut vestibulum. Nullam nec placerat ligula. Nunc hendrerit erat vitae posuere mollis. Aliquam diam enim, tristique vitae justo at, vestibulum
                        dictum dolor. Maecenas ut mi in mauris maximus tristique. Suspendisse in arcu eu tellus faucibus hendrerit. Mauris non diam ut purus pharetra malesuada et ut odio. Nam auctor mauris metus, vel molestie augue lacinia quis. Nam condimentum
                        pulvinar purus, ac luctus diam pulvinar ut.</p> <br><br><br>

                    <div class="table" style="padding: 70px; margin-top: 125px">
                        <table class="w3-table w3-bordered" style="color:black">
                            <tr>
                                <th>Region</th>
                                <th class="w3-center">Availability</th>
                                <th>Notes</th>
                            </tr>
                            <tr>
                                <td>North America</td>
                                <td class="w3-center"><img src="../assets/tick.svg" width="20px"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Asia Pacific</td>
                                <td class="w3-center"><img src="../assets/tick.svg" width="20px"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Europe</td>
                                <td class="w3-center"><img src="../assets/tick.svg" width="20px"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>CEMEA</td>
                                <td class="w3-center"><img src="../assets/tick.svg" width="20px"></td>
                                <td>Limited Availability in Region</td>
                            </tr>
                            <tr>
                                <td>LAC</td>
                                <td class="w3-center"><img src="../assets/tick.svg" width="20px"></td>
                                <td>Limited Availability in Region</td>
                            </tr>
                        </table>
                    </div>

                    <p style="color: #7D7878; margin-left: 36px; font-size: 14px; float: left">
                        <mat-card-subtitle style="color: black; margin-top: -15px">Using Weather API</mat-card-subtitle>
                        Sed sit amet nulla diam. Nam et augue a libero dictum condimentum at et tellus. Curabitur semper consectetur nunc ut vestibulum. Nullam nec placerat ligula. Nunc hendrerit erat vitae posuere mollis. Aliquam diam enim, tristique vitae justo at, vestibulum
                        dictum dolor. Maecenas ut mi in mauris maximus tristique. Suspendisse in arcu eu tellus faucibus hendrerit. Mauris non diam ut purus pharetra malesuada et ut odio. Nam auctor mauris metus, vel molestie augue lacinia quis. Nam condimentum
                        pulvinar purus, ac luctus diam pulvinar ut. </p>

                    <ul style="list-style-type:none; color:black; float:right; margin-top: 130px; margin-right: 25px">
                        <li>NEXT</li>
                        <li style="color:#0089CF">Best Practices</li>
                    </ul>



                </mat-card-content>
            </mat-card>
        </div>
        <div class="kiri" style="width: 25%; float:left; padding: 15px">
            <mat-card class="content" style="width: 250px; height: 350px; background-color: white; margin-left: -300px; border-radius: 6px; float: left;">
                <mat-card-content> <br>
                    <ul style="list-style-type:none; color:black">
                        <li style="color:#0E3570; font-weight: bold">Getting Started</li><br>
                        <li>Best Practices</li><br>
                        <li>How to Setup this API</li><br>
                        <li>How to Troubleshoot this API</li><br>
                        <li>Authentication Method</li><br>
                        <li>API Reference</li><br>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="kanan" style="width: 25%; float:right; padding: 15px">
            <mat-card class="content" style="width: 250px; height: 1100px; background-color: white; margin-left: -60px; border-radius: 6px; float:right;">
                <mat-card-header>
                    <mat-card-title style="color: black; padding: 20px; margin-top: 15px">Downloads</mat-card-title> <br>
                </mat-card-header>
                <mat-card-content>
                    <ul style="list-style-type:none; color:#0089CF">
                        <li><img src="../assets/file.svg" width="15px"> Document name 1</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 2</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 3</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 4</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 5</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 6</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 7</li><br>
                        <li><img src="../assets/file.svg" width="15px"> Document name 8</li><br><br>
                        <li><img src="../assets/climate.svg" width="15px" style="margin-left: 10px"> Download all(20.5 mb)</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
<br><br>

<footer style="margin-bottom:-1000px"></footer>