<header></header>
<navbar2></navbar2>
<div class = "body" style = "background-color: #F1F2F6">
<img src="../assets/header.jpg" width="100%" height="300">

<mat-card class = "content" style="width: 1100px; height: 818px; background-color: white; margin-left: 170px; margin-top: -100px; border-radius: 6px;">
    <mat-card-header>
<mat-card-title style="color: black; padding: 20px; margin-top: 15px">Setup the Weather API</mat-card-title>
<mat-card-subtitle style="color: #7D7878; margin-left: 20px; margin-top: -15px">Bill Smith</mat-card-subtitle>

</mat-card-header>
<mat-card-content>
        <p style="color: #7D7878; margin-left: 36px; font-size: 14px; float: left">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum risus risus, consectetur non gravida placerat, dapibus sit amet justo. Etiam maximus sagittis maximus.
                Aenean condimentum molestie nulla, ut aliquam magna imperdiet a. Cras varius sollicitudin massa molestie gravida. Fusce bibendum consectetur cursus. Maecenas tempus orci vel arcu
                semper tincidunt. Sed metus nisi, mollis eu ipsum at, vestibulum placerat lectus. Nam sodales velit condimentum odio pretium congue. Proin non risus nec libero facilisis lacinia.
                Donec imperdiet, leo in pharetra fermentum, magna justo fringilla nibh, eget pulvinar quam risus non metus.
                <br><br>
                Sed sit amet nulla diam. Nam et augue a libero dictum condimentum at et tellus. Curabitur semper consectetur nunc ut vestibulum. Nullam nec placerat ligula. 
                Nunc hendrerit erat vitae posuere mollis. Aliquam diam enim, tristique vitae justo at, vestibulum dictum dolor. Maecenas ut mi in mauris maximus tristique. 
                Suspendisse in arcu eu tellus faucibus hendrerit. Mauris non diam ut purus pharetra malesuada et ut odio. Nam auctor mauris metus, vel molestie augue lacinia quis. 
                Nam condimentum pulvinar purus, ac luctus diam pulvinar ut.</p> <br><br><br>
        <img mat-card-image src="../assets/coding.jpg" style="width:450px; height: 300px; float: left; margin-left: 37px">
        <p style="color: #7D7878; margin-left: 36px; font-size: 14px; float: left"> <br>
                Etiam eu lectus dictum, dictum felis a, tristique velit. Vivamus pharetra tincidunt orci, non feugiat nibh ultrices vitae. Quisque euismod ipsum iaculis tristique faucibus.
                Aliquam blandit mollis leo. Morbi viverra velit felis, sit amet congue quam viverra non. Cras laoreet egestas dui at luctus. Pellentesque eget nisl ut erat lobortis scelerisque eu ut arcu. Ut ornare 
                tortor et volutpat dapibus. Donec eget dolor vitae mauris dignissim accumsan. Nunc nisi dolor, pulvinar sit amet molestie sit amet, lacinia sed ligula. Nunc mi ante, dapibus non dui vel, fermentum tincidunt lorem. 
                Quisque id lorem consequat, convallis metus pharetra, dignissim massa. Nunc molestie iaculis faucibus. Mauris posuere magna vitae nisl condimentum, id consequat mi rutrum.
        </p>


      </mat-card-content>
</mat-card>



</div>
<br><br>

        <footer style="margin-bottom:-1000px">
            </footer> 

