.content {
    height: 100%;
}

.left {
    padding: 1% 0% 2% 5%;
    height: 100%;
    width: 70%;
    display: inline;
    float: left;
}

.left-mat {
    height: 100%;
}

.left-mat h2 {
    float: left;
}

.left-mat select {
    float: right;
    margin-right: 2%;
}

.left-mat hr {
    background: lightgrey;
    height: 1px;
}

.reviews {
    margin-top: 7%;
    width: 100%;
    height: 22%;
}

.left-reviews {
    display: inline-block;
    width: 30%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.left-reviews h3 {
    margin-bottom: 1%;
    font-weight: bold;
    font-size: xx-large;
}

.left-reviews img {
    margin-bottom: 1%;
}

.left-reviews p {
    color: blue;
}

.left-comm {
    margin-top: 5%;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.left-comm .image {
    align-content: center;
    justify-content: center;
    display: inline-block;
    width: 10%;
    height: 100%;
}

.image button {
    margin: 0 15% 40% 0;
}

.image img {
    margin-bottom: 40%;
}

.left-comm .text {
    display: inline-block;
    width: 90%;
}

.left-comm .date {
    display: inline-block;
    width: 10%;
}

.left-comm .name {
    display: inline-block;
    width: 10%;
}

.right-reviews {
    display: inline-block;
    width: 70%;
}

.right-reviews svg {
    height: 15px;
}

.right {
    padding: 1% 5% 2% 0%;
    height: 100%;
    width: 30%;
    display: inline;
    float: left;
}

.right-mat {
    width: 100%;
    height: 100%;
}

.right-mat h4 {
    font-weight: bolder;
}

.right-mat p {
    font-weight: 500;
}

.right-mat button {
    width: auto;
    height: auto;
}

.right-mat .submit {
    width: 30%;
    height: auto;
}

.rating {
    display: flex;
    justify-content: center;
}

.rating button {
    margin: 2% 2% 0 2%;
}

.rating .active {
    background-color: green;
}

.input {
    margin: 3% 0 0 0;
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input form {
    width: 100%;
    height: 70%;
}

.input textarea {
    width: 100%;
}

.input .submit {
    margin-top: 5%;
}