<div class="topMenu">
    <mat-card class="topCard">
        <mat-card-title class="topMatTitle">Total APIs</mat-card-title>
        <mat-card-subtitle style=" color: rgb(20, 87, 173);">325</mat-card-subtitle>
        <mat-card-footer>3 new APIs has been added. <a class="detail">View details</a></mat-card-footer>
    </mat-card>
    <mat-card class="topCard">
        <mat-card-title class="topMatTitle">Total APIs Subsribed</mat-card-title>
        <mat-card-subtitle style=" color: rgb(39, 250, 74);">20</mat-card-subtitle>
        <mat-card-footer>We notice 2 APIs is not activeyet. <a class="detail">View details</a></mat-card-footer>
    </mat-card>
    <mat-card class="topCard">
        <mat-card-title class="topMatTitle">Total APIs Consumption <a>(Calls)</a></mat-card-title>
        <mat-card-subtitle style=" color: rgb(252, 216, 59);">2,250</mat-card-subtitle>
        <mat-card-footer>We notice inefficiency in last 2 weeks. <a class="detail">View details</a></mat-card-footer>
    </mat-card>
</div>
<div class="categoryMenu">
    <h3>Top Rated APIs</h3>
    <div class="elementCategoryMenu">
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/drops.svg" />
                <a>Weather API</a><br>
                <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 288 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/ma_green.svg" />
                <a>Maps API</a><br>
                <p>It's an awesome API curabitur pharetra imperdiet sem molestie solicitudin</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/color-correction.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/cloud.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
    </div>

    <h3>Recommended APIs</h3>
    <div class="elementCategoryMenu">
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/drops.svg" />
                <a>Weather API</a><br>
                <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 288 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/ma_green.svg" />
                <a>Maps API</a><br>
                <p>It's an awesome API curabitur pharetra imperdiet sem molestie solicitudin</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/color-correction.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/cloud.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
    </div>

    <h3>Most Frequently Used APIs</h3>
    <div class="elementCategoryMenu">
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/drops.svg" />
                <a>Weather API</a><br>
                <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 288 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/ma_green.svg" />
                <a>Maps API</a><br>
                <p>It's an awesome API curabitur pharetra imperdiet sem molestie solicitudin</p>
            </mat-card-content>
            <mat-card-footer><a>$4.99</a> /month
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/color-correction.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
        <mat-card class="categoryCard">
            <mat-card-title>
                <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;">
            </mat-card-title>
            <mat-card-content>
                <img src="../../assets/Icons/cloud.svg" />
                <a>Weather API</a><br>
                <p>Lorem ipsum dolor sit amet conseqtetur adipsicing elit tempor dolor magna</p>
            </mat-card-content>
            <mat-card-footer><a class="free">FREE</a>
                <p>BANKING</p>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="categoryFooter">
        <button mat-raised-button>
            More Collections
        </button>
    </div>
</div>