<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="w3-container">


    <div class="w3-white" style="margin-top: 16px; margin-bottom: -10px;">
        <a class="w3-bar-item w3-button w3-hover-none" style="margin-left: 20px; margin-top: -15px;font-weight: bold; font-size: 20px">Weather API</a>
        <a class="w3-bar-item w3-button w3-hover-none" style="opacity: 0.3; font-size: 13px; margin-top: -7px; margin-left:-10px">Updated 2 months ago</a>
        <a class="w3-bar-item w3-hover-none w3-right"><img src="../assets/bookmark.svg" style="width:20px; margin-top: -10px; margin-right: 60px"></a>
    </div>
    <br>
    <div class="w3-white" style="margin-top: 20px; margin-bottom: -10px;">
        <a class="w3-bar-item w3-button w3-hover-none" (click)="clickEvent1()" [ngClass]="status1 ? 'active' : ''" style="margin-left: 20px; margin-bottom:20px;" routerLink="/apiDetail" routerLinkActive="active">API Details</a>
        <a class="w3-bar-item w3-button w3-hover-none" (click)="clickEvent2()" [ngClass]="status2 ? 'active' : ''" style="margin-bottom: 20px;" routerLink="/document" routerLinkActive="active">Document</a>
        <a class="w3-bar-item w3-button w3-hover-none" (click)="clickEvent3()" [ngClass]="status3 ? 'active' : ''" style="margin-bottom: 20px;" routerLink="/review" routerLinkActive="active">Rating & Reviews</a>
        <a class="w3-bar-item w3-button w3-hover-none" (click)="clickEvent4()" [ngClass]="status4 ? 'active' : ''" style="margin-bottom: 20px;" routerLink="/discussion" routerLinkActive="active">Discussions</a>
        <a class="w3-bar-item w3-button w3-hover-none" (click)="clickEvent5()" [ngClass]="status5 ? 'active' : ''" style="margin-bottom: 20px;" routerLink="/consumption" routerLinkActive="active">API Consumption</a>
        <a class="w3-bar-item w3-button w3-hover-none w3-right" style="margin-top:2px; margin-right:50px;font-size:11px">>  Weather API</a>
        <a class="w3-bar-item w3-button w3-hover-none w3-right" style="margin-top:2px; color:#6DC24B; margin-right: -18px; font-size: 11px">Marketplace</a>


    </div>
</div>