<header></header>

<navbar2></navbar2>

<div style="background-color: white;height: 20px;"></div>
<div style="background-color: #F1F2F6;z-index:-99;width: 100%;height: 1600px;position: relative;padding-top: 50px;"></div>

<div class="marketContent" style="margin-top: -1600px;">
    <div class="marketNav">
        <navbar></navbar>
    </div>
    <div class="content">
        <a>ALL APIs</a>
        <button><img src="../../assets/list.svg" /></button>
        <button><img src="../../assets/grid.svg" /></button>
        <mat-card class="cardContent" routerLink="/apiDetail" routerLinkActive="active">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/drops.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

        <mat-card class="cardContent">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/money.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>4.6</a> | 350 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

        <mat-card class="cardContent">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/ma_green.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

        <mat-card class="cardContent">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/color-correction.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

        <mat-card class="cardContent">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/db.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

        <mat-card class="cardContent">
            <div class="cardComponentLeft">
                <mat-card-title>
                    <img src="../../assets/Icons/drops.svg" />
                </mat-card-title>
            </div>
            <div class="cardComponentRight">
                <mat-card-content>
                    <img src="../../assets/star.png" /> <a>5.0</a> | 325 <img src="../../assets/bookmark_active.svg" style="float: right;"><br>
                    <a>Weather API</a><br>
                    <p>Short description goes here phasellus eget turpis vitae massa molestie euismod</p>
                </mat-card-content>
                <mat-card-footer><a>$4.99</a> /month
                    <p>BANKING</p>
                </mat-card-footer>
            </div>

        </mat-card>

    </div>
    <div class="categoryFooter" style="margin-top:50px;margin-bottom: 50px;">
        <button mat-raised-button>
            More Collections
        </button>
    </div>
</div>
<footer></footer>